# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [6]:
# Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [10]:
# Run this code:

pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [16]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [40]:
pokemon["Legendary"].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [95]:
pokemon.groupby("Legendary")["Total"].get_group(True).mean()

637.3846153846154

In [87]:
pokemon.groupby("Legendary")["Total"].get_group(True).std()

60.93738905315346

In [89]:
pokemon.groupby("Legendary")["Total"].get_group(False).mean()

417.21360544217686

In [91]:
pokemon.groupby("Legendary")["Total"].get_group(False).std()

106.7604174571302

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [229]:

legendary = pokemon.groupby("Legendary")["Total"].get_group(True)
non_legendary = pokemon.groupby("Legendary")["Total"].get_group(False)

In [231]:
# Perform two-sample t-test for independent samples
t_stat, p_value = st.ttest_ind(legendary, non_legendary, equal_var=False)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.2f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean fares for legedary and non-legendary are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that legendary points are different for non-legendary.")

Test Statistic (t): 25.83
P-Value: 0.00

Reject the Null Hypothesis: There is sufficient evidence to conclude that legendary points are different for non-legendary.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [233]:
# Your code here:
pokemon["Type 1"].value_counts().reset_index()

      Type 1  count
0      Water    112
1     Normal     98
2      Grass     70
3        Bug     69
4    Psychic     57
5       Fire     52
6   Electric     44
7       Rock     44
8     Dragon     32
9     Ground     32
10     Ghost     32
11      Dark     31
12    Poison     28
13     Steel     27
14  Fighting     27
15       Ice     24
16     Fairy     17
17    Flying      4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [225]:
pokemon.groupby(["Type 1"])["Total"].mean().round(2).reset_index().sort_values(by="Total",ascending = False)

      Type 1   Total
2     Dragon  550.53
16     Steel  487.70
7     Flying  485.00
14   Psychic  475.95
6       Fire  458.08
15      Rock  453.75
1       Dark  445.74
3   Electric  443.41
8      Ghost  439.56
10    Ground  437.50
11       Ice  433.46
17     Water  430.46
9      Grass  421.14
5   Fighting  416.44
4      Fairy  413.18
12    Normal  401.68
13    Poison  399.14
0        Bug  378.93

In [227]:
pokemon.groupby(["Type 1"])["Total"].std().round(2).reset_index().sort_values(by="Total",ascending = False)

      Type 1   Total
7     Flying  161.40
2     Dragon  146.27
14   Psychic  139.03
10    Ground  123.91
4      Fairy  123.78
0        Bug  117.88
12    Normal  115.73
16     Steel  115.42
17     Water  113.19
8      Ghost  110.07
6       Fire  109.76
1       Dark  109.13
11       Ice  108.28
15      Rock  108.06
9      Grass  106.65
3   Electric  105.72
5   Fighting  102.46
13    Poison   92.36

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [237]:
# Your code here:
null_hypothesis = "The mean total points of all type of Pokemons is 430,46 of power"  # H₀
alt_hypothesis = "The mean total points of all type of Pokemons is not equal 430,46 of power"  # H₁

print(f"Null Hypothesis (H₀): {null_hypothesis}")
print(f"Alternate Hypothesis (H₁): {alt_hypothesis}")

Null Hypothesis (H₀): The mean total points of all type of Pokemons is 430,46 of power
Alternate Hypothesis (H₁): The mean total points of all type of Pokemons is not equal 430,46 of power

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [309]:
points= pokemon.groupby("Attack")["Defense"].mean().reset_index().round()

In [291]:

# Perform paired t-test
t_stat, p_value = st.ttest_rel(points["Attack"],points["Defense"])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.7f}")
print()

Test Statistic (t): 3.55
P-Value: 0.0005754

Describe the results of the test in the cell below.

In [293]:
# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant change between attack and defense points")
else:
    print("Reject the Null Hypothesis: There is a significant change between attack and defense points")

Reject the Null Hypothesis: There is a significant change between attack and defense points

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [311]:
# Your code here:
sp_points= pokemon.groupby("Sp. Atk")["Sp. Def"].mean().reset_index().round()

Describe the results of the test in the cell below.

In [314]:
# Perform paired t-test
t_stat, p_value = st.ttest_rel(sp_points["Sp. Atk"],sp_points["Sp. Def"])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.7f}")
print()

Test Statistic (t): 3.01
P-Value: 0.0033173

In [316]:
# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference between special attack and special defense mean")
else:
    print("Reject the Null Hypothesis: There is a significant difference between special attack and special defense mean")

Reject the Null Hypothesis: There is a significant difference between special attack and special defense mean

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [340]:
attack= pokemon["Attack"]

In [342]:
defense= pokemon["Defense"]

In [344]:
# Your code here:
t_stat, p_value = st.ttest_1samp(attack, defense)
print(f"P-Value: {p_value:.4f}")
print()
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say the average price is different from $65.")
else:
    print("Reject the Null Hypothesis: There is evidence to say the average price is different from $65.")

ValueError: `popmean.shape[axis]` must equal 1.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [364]:
# Your code here:

crosstab =pd.crosstab(pokemon["Legendary"], pokemon["Type 1"])

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [366]:
from scipy.stats import chi2_contingency

In [368]:
chi2_stats, chi2_pvalue, _, _ = chi2_contingency(crosstab)

In [370]:
chi2_pvalue
print(f"p_value: {chi2_pvalue:.20f}")

p_value: 0.00000000000511854741

Based on a 95% confidence, should we reject the null hypothesis?

#### p_value < 0.05 = This means that we can reject the null hypothesis